/*! purgecss start ignore */
body.category-34{
  background: $white;
}


.fancy-posts-loop{
  .section{
    padding: 40px 0px;
    padding-top: calc(40px + 1rem);
    &.section-big{
      padding-top: 140px;
      padding-bottom: 140px;
      position: relative;
      margin-top: -130px;
      margin-bottom: -130px;
      .overlay{
        //background-image: url('../images/fancy-bg.png');
        background-size: contain;
        position: absolute;
        z-index: -1;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }
    }
  }
  .fancy-post-card{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    border-radius: .2rem;
    background-position: center;



    &.first{
      height: calc(600px + 1rem);
    }

    transition: all 0.3s linear;

    &:hover{
      .overflow{
        height: 15rem;
      }
    }

    .overflow{
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 20rem;
      background: linear-gradient(rgba($white,0), rgba($black, 0.85));
      border-radius: 0px 0px .2rem .2rem;
    }

    .fancy-post-card-title{
      color: $white;
      position: absolute;
      bottom: 16px;
      left: 16px;
      right: 16px;
      text-shadow: 0px 1px 3px rgba($black, 0.8);
    }
  }
}

.section-big {
  .fancy-post-card{
    height: 300px;
    position: relative;
    z-index: 2;
    text-align: center;
  }
}


.daftar{
  .overlay{
    display:block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: #cda979;
    opacity: 0.6;
  }

  &:nth-child(2n+0) {
    .overlay{
      background: #a3c4bd;
    }
  }

  &:nth-child(3n+0) {
    .overlay{
      background: #c7b199;
    }
  }
  &:nth-child(4n+0) {
    .overlay{
      background: #b2cad4;
    }
  }
}

.card-file{
  padding: 1.4rem;
  .box-wrap{
    display: inline-block;
    vertical-align: top;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .featured-boxes-overlay{
      width: 100%;
      height: 100%;
      display: table;
      background-color: rgba($white,.3);

      .featured-boxes-thumbnails{
        display: table-cell;
        width: 100%;
        height: 100%;

        .featured-boxes-wrap{
          width: 354px;
          height: 218px;
          overflow: hidden;
          padding: 18px;
          left: 0;
          top: 0;
          display: table-cell;
          position: relative;




          span{
            vertical-align: middle;
            height: 100%;
            width: 100%;
            display: table-cell;
            margin: 0 auto;
          }

          div{
            //opacity: 1;
            -webkit-transition: opacity .5s ease-in-out .75s;
            transition: opacity .5s ease-in-out .75s;
          }
        }
        .box-style{
          color: #ffffff;
          font-weight: 400;
          text-align: center;
          display: inline-block;
          margin: 0 auto;
          border: 1px solid #ffffff;
          text-transform: uppercase;
        }
      }

      .box-effect {
        position: relative;
        border-color: transparent;
        transition: color .35s ease-out;


        .box-line{
          width: 0;
          height: 0;
          overflow: hidden;
          position: absolute;
          z-index: 3;
          background-color: #c9a16e;

          &[data-line="top"]{
            height: 1px;
            top: -1px;
            left: -1px;
            width: 0%;
            transition: width .35s ease-out;

          }
          &[data-line="left"]{
            width: 1px;
            bottom: -1px;
            left: -1px;
            height: 0%;
            transition: height .35s ease-out;
          }
          &[data-line="bottom"]{
            height: 1px;
            bottom: -1px;
            right: -1px;
            width: 0%;
            transition: width .35s ease-out;
          }
          &[data-line="right"]{
            width: 1px;
            top: -1px;
            right: -1px;
            height: 0%;
            transition: height .35s ease-out;
          }
        }
        &:hover{
          color: theme-color('secondary');
        }
      }

      a.box-style.box-effect.build{
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        padding: 18px;
        display: table;
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: bold;
        text-shadow: 1px 1px 3px rgba($black, 0.8);
        &:hover{
          text-shadow: none;
        }
      }
    }
  }
}


.dfater{
  &.big-preview{
    .card-file {
      height: calc(100% - 1rem);
      .box-wrap {
        height: 100%;
        .featured-boxes-overlay .featured-boxes-thumbnails .featured-boxes-wrap{
          display: flex;
          width: 100%;
          height: 100%;
          .overlay{
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background: #cda979;
            opacity: 0.6;
          }
        }
      }

    }
  }
}


.box-effect:hover .box-line[data-line="top"] {
  padding-left: 1px;
  width: 100% !important;
}

.box-effect:hover .box-line[data-line="right"]{
  padding-top: 1px;
  height: 100% !important;
}

.box-effect:hover .box-line[data-line="bottom"]{
  padding-right: 1px;
  width: 100% !important;
}

.box-effect:hover .box-line[data-line="left"]{
  padding-bottom: 1px;
  height: 100% !important;
}

.box-effect.build .box-border-wrap .box-line[data-line="top"],
.box-effect.build .box-border-wrap .box-line[data-line="right"],
.box-effect.build .box-border-wrap .box-line[data-line="bottom"],
.box-effect.build .box-border-wrap .box-line[data-line="left"] {
  transition-delay: .6s;
}
.wp-block-embed{
  &:not([class*='wp-block-embed-']){
    .embedly-card{
      .embedly-card-hug{
        border: 1px solid rgba($grey, 0.3);
      }
    }
  }
}



/*! purgecss end ignore */
