$secondaryTextColor: #555555;
.card-body{
  .card-,
  .card-text,
  .entry-content,
  .text-muted{
    font-family: $font-secondary;
    color: $secondaryTextColor !important;

    //h1,
    //h2,
    //h3,
    //h4,
    //h5,
    //h6{
    //  font-family: $font-primary;
    //}
  }
}
.card-body {
  .entry-content{
    font-size: 1.1rem;
  }
}

.featured-home-post{
  .card-body{
    padding-top: 0.35rem;
    .card-{
      color: $secondaryTextColor;
      line-height: 1.7rem;
      > span {
        display: inline-block;
        margin-bottom: 0.5rem;

      }
    }
  }
}

