/**
 * Footer
 */

/*! purgecss start ignore */
.content-info {
  //
}
.footer{
  .bottom-footer{
    margin-top: 15px;
    padding-top: 40px;
    background-color: $white;
    padding-bottom: 15px;
  }

  .menu-footer-menu-container{
    .nav{
      justify-content: center;
      a {
        font-size: 0.9rem;
        padding: 0px .5rem;
        color: $black;
      }
    }
  }
}

.page-up{
  position: fixed;
  bottom: 20px;
  left: 28px;
  display: none;

  .single-post &{
    bottom: 60px;
  }
  .btn-icon{
    background-image: url('../images/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
  }
}
/*! purgecss end ignore */
