/**
 * Header
 */
/*! purgecss start ignore */
.banner .nav {
  li {

    @extend .nav-item;
  }

  a {
    @extend .nav-link;
  }
}

.banner {
  .logo{
    text-align: center;

    @extend .pt-4;
    @extend .pb-4;
    .brand{
      height: 95px;
      width: 200px;
      background-image: url('../images/logo.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: inline-block;
      text-indent: -9999px;
    }
  }

  .nav{
    > .menu-item{
      display: inline-flex;
      flex-grow: 1;
      text-align: center;
      > a{
        width: 100%;
        font-weight: bold;
        font-size: 1.2rem;

        transition: background-color .3s linear;

        &:hover,
        .current-menu-item &{
          background: theme-color('secondary');
          color: $white;
        }
      }

      &.menu-item-has-children{
        position: relative;
        ul{
          display: none;
          background: $white;
          position: absolute;
          top: 40px;
          left: 0px;
          list-style: none;
          z-index: 4;
          padding: 0px;
          li{
            padding: 6px 8px;
          }
        }
        &:hover{
          ul{
            display: block;
          }
        }
      }
    }
  }
}
/*! purgecss end ignore */
