/**
 * Pages
 */

.page {
  //
}


.social-links{
  > li{
    a{
      svg{
        fill: $grey;
        transition: all 0.3s linear;
      }
      &:hover{
        svg{
          fill: theme-color('secondary');
        }
      }
    }
  }
}

.author-card{
  background: transparent;
  border: 1px solid rgba($grey, 0.2);
  padding: 20px 10px;
  border-bottom: 30px solid #d1cac0;
  .author-name-in-authors{
    color: lighten($black, 10%)
  }

  .details{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }

  .label{
    &.metras-team-label{
      padding: 4px 8px;
      background-color: #9ec6be;
      color: $white;
      display: inline-block;
      font-size: 0.95rem;
      max-width: 100px;
      text-align: center;
    }
  }
}

/*! purgecss start ignore */
.metras-foot-notes{
  .foot-note{
    width: 300px;
    font-size: 0.9rem;
    color: $grey;
    display: none;
    .number{
      border-bottom: 1px solid #a3c4bd;
    }
    .content{

    }
  }
}

.tooltip_templates{display: none;}
.tooltipster-base{
  z-index: 222;
  //pointer-events: auto;
}
#tooltip_content svg{
  cursor: pointer;
  fill: $white;
  position: relative;
  z-index: 11;
  &:hover{
    transform: scale(1.15);
  }
}
/*! purgecss end ignore */
