/**
 * Global
 */
body {
  //background: theme-color('bgPrimary');
}

.entry-content{
  line-height: 2.3rem;
}


@media (min-width: 1200px){
  .container{
    max-width: 1060px;
  }
}


/* Hides navigation links and site footer when infinite scroll is active */
.infinite-scroll #navigation,
.infinite-scroll.neverending #footer {
  display: none;
}
/* Shows the footer again in case all posts have been loaded */
.infinity-end.neverending #footer {
  display: block;
}

.infinite-loader{
  position: relative;
  .spinner{
    position: absolute !important;
    left: 50% !important;
    margin-left: 8px !important;
    top: 10px !important;
  }
}

