/**
 * Variables
 */

$theme-colors: (
  primary: #0d3c4b,
  textPrimary: #2d2d2d,
  secondery: #c9a16e,
  textSecondery: #535353,
  bgPrimary: #efefef,
);

/** Bootstrap Navbar Fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
