/**
 * Variables
 */
$primary: #0d3c4b;
$secondary: #c9a16e;
$body-bg: #efefef;
$grey: #7d7d7d;

$light-black: #535353;
$black: #2d2d2d;



$theme-colors: (
  primary: $primary,
  textPrimary: #2d2d2d,
  secondary: $secondary,
  textSecondary: #535353,
);



/** Bootstrap Navbar Fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$font-primary: 'Tajawal', Tahoma;
$font-secondary: "dubai", serif;
